.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

h1 {
    color: midnightblue;
}
#map {
    padding-top: 20px;
    width: 600px;
    height: 400px;
}

.test {
    padding: 5px;
    border: 1px solid green;
    color: red;
    background: #fff;
}

.test:hover {
    padding: 5px;
    border: 1px dashed green;
    background: #fff;
    color: green;
    transition: all 1s ease-in-out;
}